.sidebar {
  position: fixed;
  top: 55px;
  left: 0;
  bottom: 0;
  width: 72px;
  background-color: white;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-box{
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.sidebar-box img {
  height: 24px;
  margin-bottom: 6px;
}

.sidebar-box div {
  font-family: Roboto, Sans-serif;
  font-size: 10px;
}

.sidebar-box:hover {
  background-color: rgb(235, 235, 235);
}
